<div class="page-header">
  <div class="text-center"><h3>Picks</h3></div>
  <%= link_to 'New Pick', new_pick_path,:class => "btn btn-primary" %>
</div>

<div class="row">
  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>
    
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th colspan="3">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @picks.each do |pick| %>
              <tr>
                <td><%= pick.name %></td>
                <td><%= pick.category.name %></td>
                <td><%= link_to 'Show', pick %></td>
                <td><%= link_to 'Edit', edit_pick_path(pick) %></td>
                <td><%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure you want to delete this record? If yes, then it will also delete its associated accessories.' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
