<div class="page-header">
  <div class="text-center"><h3>Brands</h3></div>
  <%= link_to 'New Brand', new_brand_path,:class => "btn btn-primary" %>
</div>

<div class="row">
  <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th colspan="3">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @brands.each do |brand| %>
              <tr>
                <td><%= brand.name %></td>
                <td><%= link_to 'Show', brand %></td>
                <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
                <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure you want to delete this record? If yes, then it will also delete its associated guitars and accessories.' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>

